/* Custom styles not covered by Tailwind */

/* We're using a light and dark theme concept. */
/* The default is a dark theme, but you could add a .light-theme class to the body */
/* .light-theme {
    background-color: #f0f0f0;
    color: #333333;
} */

.nav-item.active {
    background-color: #fc820f;
    color: white;
}

.bg-orange-500 {
    background-color: #fc820f;
}

.text-orange-500 {
    color: #fc820f;
}

/* Custom nav sizing for a better toggle effect */
#left-nav {
    width: 64px; /* default collapsed width */
}
#left-nav.w-64 {
    width: 256px;
}
@media (min-width: 768px) {
    #left-nav {
        width: 256px;
    }
    #left-nav.w-20 {
        width: 80px;
    }
}